<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <footer class="footer border-top bg-body-secondary">
    <div class="footer-items">
              <div class="footer-details">
                   <a>&#169;2025 WanderLust PVT</a>
                   <span>.</span>
                   <a >Privacy</a>
                   <span>.</span>
                   <a >Terms</a>
                   <span>.</span>
                   <a >Sitemap</a>
                   <span>.</span>
                   <a >Company Details</a>
             </div>
            <div class="footer-eng">
                   <i class="fa-solid fa-globe"></i>
                   <span>English (IN)</span>
                   <span>&#8377; INR</span>
            </div>
             <div class="footer-social-media">
                
                  <i class="fa-brands fa-facebook"></i>
                  <i class="fa-brands fa-twitter"></i>
                  <i class="fa-brands fa-square-instagram"></i> 
                 
            </div>
      </div>

  </footer>


    <!-- <footer class="py-3 my-4 footer border-top bg-body-secondary">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><i class="fa-solid fa-globe"></i></li>
            <li class="nav-item"><p>&#8377; English</p></i></li>
            <li class="nav-item"><p>INR</p></li>
          <li class="nav-item"><i class="fa-brands fa-facebook"></i></li>
          <li class="nav-item"><i class="fa-brands fa-twitter"></i></li>
          <li class="nav-item"><i class="fa-brands fa-square-instagram"></i></li>
          
        </ul>
        <p class="text-center text-body-secondary">© 2024 Company, Inc</p>
      </footer> -->
</body>
</html>